body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border: 1px solid grey;
    background-color: white;
    color: black;
    transition: all 1s;
}

.dark-mode {
    background-color: black;
    border: 1px solid white;
    color: white;
    transition: all 1s;
  }

.dark-mode .direct{
    color:white;
    transition: all 1s;
}

.dark-mode a{
    color:white;
    transition: all 1s;
}

.dark-mode .SocialMediaButton{
    color:white;
    transition: all 1s;
}

.title{
    font-size:48px;
}

.description{
    font-size:24px;
}

a{
    color:black;
    transition: all 1s;
}

.SocialMediaButtons {
    padding: 5px;
    padding-top: 10px;
}
   
.SocialMediaButton {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align:center;
    transition: all 1s;
}
   
.SocialMediaButton {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}
   
.SocialMediaButton:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.SocialMediaButton{  
    color: black;
    font-size: 24px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    transition: all 1s;
  }
